﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Inventory Listings</h2>
<div class="text-center">
    <a asp-controller="Supplier" asp-action="List" class="btn btn-default">Suppliers</a>
    <a asp-controller="Product" asp-action="List" class="btn btn-default">Products</a>
</div>
<div><a href="~/InventoryRelationships.pdf">Entities</a></div>

