﻿@model IEnumerable<Product>
<h3 class="text-center">Products</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td><h4>Name</h4></td>
            <td><h4>Number in Package or Set</h4></td>
            <td><h4>Current Number</h4></td>
            <td><h4>Order When Reaches</h4></td>
            <td><h4>Default Number of Sets to Order</h4></td>
            <td><h4>Supplier</h4></td>
        </tr>
    </thead>
    <tbody>
        @foreach(Product p in Model)
        {
        <tr>
            <td>@p.Name</td>
            <td>@p.unitsInSet</td>
            <td>@p.currentNo</td>
            <td>@p.orderAtNo</td>
            <td>@p.defaultOrderNo</td>
            <td>@p.Supplier.Name</td>
        </tr>

        }
    </tbody>
</table>
