﻿@model IEnumerable<Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with Visual Studio</title>
    <link href="~/css/bundle.min.css" rel="stylesheet" />
    <script src="~/js/bundle.min.js"></script>

</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@($"{@p.Price:C2}")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
