﻿@model CDTracker.Model.CD
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CD Added</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <p>
        <h1 class="text-center">Cd Added</h1>
        <a asp-action="Index">Show the Portfolio</a>
    </p>
</body>
</html>
