﻿@model CDTracker.Model.CD
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CDForm</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel panel-success">
    <div class="panel-body">
        <form asp-action="CDForm" method="post" class="p-n-l">
            <div class="form-group">
                <label asp-for="BankName">Bank</label>
                <select class="form-control" asp-for="BankName">
                    <option value="">Choose a Bank</option>
                    <option value="Altra FCU">Altra FCU</option>
                    <option value="Synchrony Bank">Synchrony Bank</option>
                    <option value="BMO Harris">BMO Harris</option>
                    <option value="WCCU">WCCU</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Term">Term (Months)</label>
                <select class="form-control" asp-for="Term">
                    <option value="">Choose a Term</option>
                    <option value="60">60</option>
                    <option value="36">36</option>
                    <option value="24">24</option>
                    <option value="12">12</option>
                    <option value="6">6</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rate">Rate(%)</label>
                <input class="form-control" asp-for="Rate" />
            </div>
            <div class="form-group">
                <label asp-for="Deposit">Deposit Amount</label>
                <input class="form-control" asp-for="Deposit" />
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate">Purchase Date</label>
                <input class="form-control" asp-for="PurchaseDate" type="date"/>
            </div>
            <div class="text-center"><button class="btn btn-primary" type="submit">Add CD</button></div>
        </form>
    </div>
</body>
</html>
