﻿@model IEnumerable<CDTracker.Model.CD>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <h1 class="text-center">My CD Portfolio</h1>
    <a asp-action="CDForm">Add a CD</a>
    @{ 
        @if (CDTracker.Model.Portfolio.isEmpty())
        {
            <h2 class="text-center">No CDs currently in the portfolio</h2>
        }else
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Bank</th>
                        <th>Term(Months)</th>
                        <th>Rate</th>
                        <th>Purchase Date</th>
                        <th>Maturity Date</th>
                        <th>Deposit Amount</th>
                        <th>Value at Maturity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CDTracker.Model.CD cd in CDTracker.Model.Portfolio.portfolio)
                    {
                        <tr>
                            <td>@cd.BankName</td>
                            <td>@cd.Term</td>
                            <td>@cd.Rate</td>
                            <td>@cd.PurchaseDate.ToShortDateString()</td>
                            <td>@cd.MaturityDate.ToShortDateString()</td>
                            <td>$@cd.Deposit</td>
                            <td>$@cd.ValueAtMaturity</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    }
</body>
</html>
