﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h3>We're going to have a party</h3>
        <h4>And you're invited.</h4>
    
        <!--@ViewBag.Greeting
        <p>
            We're going to have an exciting party <br />
            (Sell it better...)
        </p>-->
        <a asp-action="RsvpForm" class="btn btn-primary">RSVP now</a>
    </div>

</body>
</html>

