﻿@model IEnumerable<DnDClass>
@{ 
    ViewBag.Title = "Party Members";
}
<div>
    @if (Model!= null && Model.Any<DnDClass>())
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Level</th>
                    <th>Experience</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DnDClass c in Model)
                {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Class</td>
                        <td>@c.Level</td>
                        <td>@c.Experience</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Our Party is empty!</h3>
    }

</div>
