﻿@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
    Layout = "_AdminLayout";
}

<table class="table table-striped">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-right">Actions</th>
    </tr>
    @foreach(Product p in Model)
    {
        <tr>
            <td class="text-right">@p.ProductID</td>
            <td>@p.Name</td>
            <td class="text-right">@p.Price</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@p.ProductID">Edit</a>
                    <input type="hidden" name="ProductId" value="@p.ProductID" />
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>

    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>

