﻿@model IEnumerable<string>

<a class="btn btn-block btn-secondary"
   asp-action="Index"
   asp-controller="Home">
    Home
</a>
@foreach (string supplier in Model)
{
    <a class="btn btn-block
       @(supplier == ViewBag.SelectedSupplier? "btn-primary" : "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-supplierName="@supplier"
       asp-route-productPage="1">
        @supplier
    </a>

}
