﻿<h3 class="text-center">Suppliers</h3>
<table class="table table-striped">
    <thead>
        <tr><td><h4>Name</h4></td></tr>
    </thead>
    <tbody>
        @foreach (Supplier s in Model)
        {
            <tr>
                <td>@s.Name</td>
            </tr>
        }
    </tbody>
</table>

