﻿@model Product
<tr>
    <td>@Model.Name</td>
    <td>@Model.unitsInSet</td>
    <td class="@((Model.currentNo <= Model.orderAtNo) ?"text-danger" : "")">
        @Model.currentNo
    </td>
    <td>@Model.orderAtNo</td>
    <td>@Model.defaultOrderNo</td>
    <td>@Model.Supplier.Name</td>
</tr>