﻿@model ProductsListViewModel
<h3 class="text-center">Products</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td><h4>Name</h4></td>
            <td><h4>Number in Package or Set</h4></td>
            <td><h4>Current Number</h4></td>
            <td><h4>Order When Reaches</h4></td>
            <td><h4>Default Number of Sets to Order</h4></td>
            <td><h4>Supplier</h4></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model.Products)
        {
            @Html.Partial("ProductSummary", p)
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-secondary" page-class-selected="btn-primary" 
     page-url-supplierName="@Model.CurrentSupplierName" class="btn-group pull-right"></div>
