﻿@model Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3>Create Product</h3>
    <form asp-action="AddProduct" method="post">
        <div class="form-group">
            <div>
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div>
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </form>
</body>
</html>
