﻿@model CartIndexViewModel

<h2>Items to Reorder</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Number of Sets</th>
            <th>Item</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.QtySets</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-center">@line.Product.Supplier.Name</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="ProductID"
                               value="@line.Product.ProductID"/>
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl"/>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Browsing</a>
    <a class="btn btn-primary" asp-action="Reorder" asp-controller="Order">
        Reorder Items
    </a>
</div>

