﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Inventory</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">Inventory</a>
    </div>

    <div class="col-md-9">
        @RenderBody()
    </div>
    <div id="suppliers" class="col-md-3">
        @await  Component.InvokeAsync("NavigationMenu")
    </div>
</body>
</html>
