﻿@model Product
<tr>
    <td>@Model.Name</td>
    <td>@Model.unitsInSet</td>
    <td class="@((Model.currentNo <= Model.orderAtNo) ?"text-danger" : "")">
        @Model.currentNo
    </td>
    <td>@Model.orderAtNo</td>
    <td>@Model.defaultOrderNo</td>
    <td>@Model.Supplier.Name</td>
    <td>
        <form id="@Model.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="ProductID"/>
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
            <button type="submit"
                    class="btn btn-success btn-sm pull-right" style="float:right">
                Reorder
            </button>
        </form>
    </td>
</tr>