﻿
@model Product
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>

    <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" 
          method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnURL" 
               value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Add To Cart
            </button>
        </span>
    </form>

    
</div>