﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <title>Inventory</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Inventory</a>
            <div class="col-md-4 text-right pull-right">
                @await  Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>

    <div class="col-md-9">
        @RenderBody()
    </div>
    <div id="suppliers" class="col-md-3">
        @await  Component.InvokeAsync("NavigationMenu")
    </div>
</body>
</html>
